<section class="main-container" *ngIf="GameRules.gameRuleState$ | async">
  <article class="speech-bubble">
    <div class="row">
      <div class="col">
        <p>
          Aujourd'hui en cette magnifique soirée, nous allons jouer à Quiz-game
          ! c'est bien la super série que les jeunes humains aiment ? donc je
          vous ai préparé un petit quiz-game !<br />
          voici les consignes de sécurité hoot-hoot
        </p>
        <ol>
          <li>
            Divisez-vous en deux équipes et trouvez des noms aussi fantastiques
            que les étoiles qui brillent dans la nuit !
          </li>
          <li>
            Il y a 21 questions qui vous attendent. Chaque question cache une
            réponse parmi 4 options. Une seule est la clé pour ouvrir la porte
            du savoir hou-hou !
          </li>
          <li>
            Une réponse correcte et vous gagnez 15 précieux points pour votre
            équipe, éclatant comme des joyaux dans la lueur de la lune. Mais
            attention ! Une réponse erronée vous coûtera 5 points. Choisissez
            vos réponses avec prudence, jeunes aventuriers
          </li>
          <li>Chaque équipe joue à son tour et choisi révèle son choix</li>
          <li>
            À chaque tour, la réponse correcte sera dévoilée tel un sortilège,
            révélant le chemin de la vérité. Sentez-vous la magie dans l'air
            alors que vous avancez dans votre quête vers la victoire ???
          </li>
        </ol>
      </div>
      <div class="col">
        <img class="hooty" src="assets/emotes/quiz-game.png" />
      </div>
    </div>

    <hr />
    <label for="field">Nommez 2 équipes</label>
    <input type="text" id="field" [(ngModel)]="userInput" />
    <button
      (click)="addTeam(userInput)"
      class="btn btn-danger"
      [disabled]="teams.length === 2"
    >
      inscription</button
    ><br />
    <button
      class="btn btn-danger"
      (click)="closeRules()"
      [disabled]="teams.length < 2"
    >
      Commencer le quiz !
    </button>
    <ul>
      <li *ngFor="let item of teams">
        {{ item.name | titlecase }}
      </li>
    </ul>
  </article>
</section>

<section
  class="main-container"
  [class.notShowing]="!displayGame"
  [class.show]="displayGame"
>
  <article class="speech-bubble">
    <div class="switchContent" *ngIf="showSwitchTurnPopUp">
      <div class="switch-turn-animation">
        <h1>
          Au tour de l'équipe
          {{ updatePlayer()?.name ?? "default" | titlecase }} !!
        </h1>
      </div>
    </div>
    <h3>
      Tour de l'équipe : {{ updatePlayer()?.name ?? "default" | titlecase }}
      <!--FR : name marqué nullable car le tableau est vide au lancement de la page-->
      <!--EN : name marked as nullable since array is empty before game starts-->
    </h3>
  </article>
  <article class="speech-bubble">
    <p class="lead">
      {{ currentQuestion?.quiz?.question }}
      <!--FR : même raisonement que ci dessus-->
      <!--EN : same reasoning as above-->
    </p>
    <ul class="quiz">
      <li *ngFor="let answer of shuffledAnswers">
        <button
          class="btn btn-success answer"
          (click)="checkScore(answer)"
          [disabled]="nextQ"
          [class.isCorrect]="
            isCorrect && answer === currentQuestion.quiz.answer
          "
        >
          {{ answer }}
        </button>
      </li>
    </ul>
    <button
      class="btn btn-danger"
      (click)="nextQuestion()"
      [disabled]="!nextQ || startIndex === 21"
    >
      next
    </button>
    <button
      class="btn btn-danger"
      (click)="sortTeamsScore()"
      [disabled]="!nextQ || startIndex != 21"
    >
      tableau des scores
    </button>
  </article>
</section>

<app-scoreboard
  *ngIf="popupService.popupState$ | async"
  [scorePlayers]="sortedTeams"
>
</app-scoreboard>
