<div class="main-container">
  <div class="speech-bubble">
    <div class="row">
      <h1 class="display2">
        {{ secretMessage }}
      </h1>
    </div>
    <div class="row">
      <div class="col">
        <h2>Faisons une bûche !</h2>
        <p>
          nous allons faire une belle bûche, hoot hoot! mais je ne sais pas de
          quoi nous avons besoin...
        </p>
        <label for="listInput">Que veux-tu ajouter ?</label>
        <input type="text" id="listInput" [(ngModel)]="userInput" />
        <button class="btn btn-success" (click)="addNew(userInput)">
          ajouter
        </button>
      </div>
      <div class="col">
        <h2 class="text-center">La liste</h2>
        <table>
          <thead></thead>
          <tbody>
            <tr *ngFor="let food of ingredientList; let i = index">
              <td
                [class.crossed]="food.isInBasket"
                [class.uncrossed]="!food.isInBasket"
              >
                <button
                  [disabled]="food.isInBasket"
                  class="btn btn-danger"
                  (click)="addOne(i)"
                >
                  +
                </button>
                {{ food.nb }}
                <button
                  [disabled]="food.isInBasket"
                  class="btn btn-danger"
                  (click)="removeOne(i)"
                >
                  -
                </button>
                {{ food.name | lowercase }}
              </td>
              <td>
                <button class="btn btn-danger panier" (click)="toggleBasket(i)">
                  panier !
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-child-message
  (secretEvent)="addMessage($event)"
  [validity]="IsValid"
  [cartList]="ingredientList"
></app-child-message>
