.card-container {
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-evenly;
  gap: 10px;
  margin: auto;
}

img {
  flex: 1 0 24%;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.MyButton {
  display: flex;
  margin-top: 1%;
  align-content: center;
  justify-content: center;
  gap: 10px;
}
.btn-danger {
  margin: 1%;
}

h3 {
  text-align: center;
}
