.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

img {
  flex: 1 0 24%;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.MyButton {
  display: flex;
  margin-top: 1%;
  align-content: center;
  justify-content: center;
  gap: 10px;
}
.btn-danger {
  margin: 1%;
}

h3 {
  text-align: center;
}

.gameboard {
  align-items: center;
  width: 1100px;
}

.center {
  display: flex;
  justify-content: center;
}

.hooty {
  width: 200px;
  height: 200px;
}
