<body>
  <div class="main-container">
    <div class="speech-bubble">
      <div class="row">
        <div class="col">
          <img src="assets/emotes/home-emote.png" />
        </div>
        <div class="col">
          <h1 class="display-4">Coucou hibou!</h1>
          <p class="lead">
            Hoot-hoot, sorciers, sorcières et amis de la maison de la chouette !
            Bienvenue à une soirée pleine de rires, de sagesse, et surtout, de
            magie ! Je suis votre hôte à plumes, Boubou !!!
            <br /><br />
            Ce soir, nous nous plongeons dans le royaume des énigmes enchantées,
            d'épreuves qui demandent d'éveiller tous vos sens ! Préparez-vous à
            un voyage où la connaissance et l'adresse brillent comme les yeux du
            titan et où le rire résonne comme la musique des fées.
            <br /><br />
            Asseyez-vous confortablement, prenez votre verre de sang de pomme et
            plongez avec moi dans cette aventure ! Que la magie commence,
            hoo-hoo !!
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
